/* logo scolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 2));
  }
}

/* animated text */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes deleting {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* library */

@keyframes zoomInEffect {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes morph1 {
  0% {
    d: path(
      "M39.3,-40.2C55.5,-33.2,76.3,-25.2,81.2,-12.2C86,0.8,74.9,18.8,62,30.8C49.1,42.8,34.6,48.9,19,56.4C3.5,63.9,-13.1,72.7,-30.4,71.6C-47.8,70.5,-65.8,59.5,-74.8,43.4C-83.8,27.4,-83.6,6.3,-77.9,-11.5C-72.1,-29.4,-60.7,-44.1,-46.8,-51.5C-32.9,-58.9,-16.4,-59,-2.5,-56.1C11.5,-53.2,23.1,-47.2,39.3,-40.2Z"
    );
  }
  25% {
    d: path(
      "M32.2,-29.5C47.4,-25.7,69.1,-20.9,70.3,-12.6C71.5,-4.4,52.1,7.3,40.8,20.5C29.5,33.6,26.2,48.4,16,58.3C5.8,68.2,-11.4,73.3,-25.3,68.6C-39.2,63.9,-49.8,49.4,-58.4,34C-67.1,18.6,-73.6,2.2,-67.9,-8.8C-62.2,-19.9,-44.2,-25.6,-30.9,-29.7C-17.5,-33.9,-8.8,-36.5,-0.1,-36.3C8.5,-36.2,17.1,-33.4,32.2,-29.5Z"
    );
  }
  50% {
    d: path(
      "M42.2,-40.6C56.5,-38.4,70.8,-26.7,75.6,-11.6C80.4,3.6,75.6,22.3,63.8,31.3C52,40.4,33.1,39.8,16.3,46.9C-0.6,54,-15.5,68.7,-26.1,66.9C-36.8,65.2,-43.3,47,-49.3,31.1C-55.3,15.3,-60.8,1.8,-56.6,-7.9C-52.4,-17.6,-38.5,-23.4,-27.4,-26.2C-16.4,-28.9,-8.2,-28.5,2.9,-32C14,-35.5,28,-42.8,42.2,-40.6Z"
    );
  }
  75% {
    d: path(
      "M23,-38.9C27.7,-23.4,28.1,-14.2,37.4,-0.8C46.8,12.7,65.1,30.4,63,38.5C60.9,46.6,38.4,45.1,21.9,44.1C5.5,43.1,-4.9,42.6,-20.4,42.8C-35.8,42.9,-56.3,43.6,-62.2,35.1C-68,26.6,-59.3,8.8,-52.7,-6C-46.2,-20.8,-41.8,-32.8,-33.4,-47.6C-25,-62.4,-12.5,-80,-1.7,-78C9.1,-76,18.2,-54.3,23,-38.9Z"
    );
  }
  100% {
    d: path(
      "M9.4,-7.5C13.6,-7.7,19.3,-6.1,30.3,2.6C41.2,11.2,57.3,26.8,56.1,35.7C54.9,44.5,36.3,46.7,21.7,46.2C7.1,45.7,-3.6,42.6,-19.8,42.1C-36,41.5,-57.6,43.7,-63.1,35.7C-68.6,27.7,-58,9.7,-46.5,-0.1C-35.1,-9.8,-22.9,-11.3,-15,-10.4C-7.1,-9.5,-3.6,-6.3,-0.5,-5.8C2.6,-5.2,5.2,-7.2,9.4,-7.5Z"
    );
  }
}

@keyframes morph2 {
  0% {
    d: path(
      "M35.9,-50.6C42.7,-51.6,41.7,-35.1,50.2,-21.5C58.7,-7.9,76.6,2.9,82.2,16.6C87.7,30.4,80.8,47.2,69.1,58.9C57.4,70.6,41,77.2,27.5,70.7C14,64.1,3.4,44.3,-10.7,39C-24.8,33.7,-42.4,42.9,-55.4,40.8C-68.4,38.7,-76.8,25.5,-74.6,13.3C-72.4,1,-59.6,-10.2,-52,-22.5C-44.4,-34.7,-41.9,-48.1,-34.1,-46.6C-26.3,-45.2,-13.2,-28.9,0.7,-30C14.6,-31.1,29.2,-49.6,35.9,-50.6Z"
    );
  }
  25% {
    d: path(
      "M32.9,-55.1C43.4,-44.4,53.3,-36.6,61.5,-25.9C69.7,-15.2,76.4,-1.7,72.8,9.2C69.2,20,55.4,28,44.4,35.7C33.4,43.3,25.2,50.5,14,58.8C2.9,67.2,-11.2,76.7,-24.9,76.5C-38.6,76.3,-52,66.4,-56.2,53.3C-60.4,40.2,-55.4,23.7,-53.3,10.3C-51.2,-3.2,-52,-13.6,-51.1,-26.5C-50.2,-39.4,-47.6,-54.7,-38.8,-66.3C-30,-77.9,-15,-85.7,-1.9,-82.7C11.2,-79.7,22.3,-65.9,32.9,-55.1Z"
    );
  }
  50% {
    d: path(
      "M28.7,-50C34.9,-40.6,36.1,-28.8,37.1,-19.1C38.2,-9.4,39.1,-1.8,45.5,11.9C51.8,25.7,63.7,45.6,60.5,56.5C57.3,67.4,39.1,69.4,22.2,73.3C5.2,77.3,-10.5,83.2,-25.3,81.1C-40.1,79,-54.1,69,-61.3,55.8C-68.6,42.6,-69.2,26.3,-72.6,9.7C-76.1,-6.8,-82.4,-23.7,-77.7,-36.1C-72.9,-48.5,-57.1,-56.4,-42.3,-61.9C-27.5,-67.4,-13.8,-70.6,-1.3,-68.6C11.2,-66.6,22.4,-59.5,28.7,-50Z"
    );
  }
  75% {
    d: path(
      "M28.1,-43.7C36.8,-38,44.7,-31,46.1,-22.6C47.5,-14.2,42.5,-4.4,42.4,7.1C42.3,18.6,47.2,31.9,45.1,44.9C42.9,57.9,33.7,70.7,21.5,75.2C9.3,79.6,-5.9,75.6,-21.7,71.9C-37.6,68.2,-54.1,64.7,-57.3,53.7C-60.6,42.7,-50.7,24.3,-49,9.5C-47.4,-5.4,-54.1,-16.6,-51.4,-23.8C-48.6,-31,-36.3,-34.3,-26.2,-39.3C-16.1,-44.4,-8,-51.3,0.8,-52.6C9.7,-53.9,19.3,-49.5,28.1,-43.7Z"
    );
  }
  100% {
    d: path(
      "M30.4,-46.3C37.5,-42.7,40,-31.1,37.7,-21.5C35.5,-12,28.3,-4.5,25.5,2.5C22.7,9.5,24.2,15.9,23.8,26C23.4,36.1,21.1,50,12.8,60C4.4,69.9,-9.9,76.1,-23.8,74.8C-37.7,73.5,-51.3,64.8,-60,53C-68.7,41.1,-72.6,26.1,-70.5,12.7C-68.4,-0.6,-60.4,-12.3,-53.5,-23.3C-46.7,-34.4,-41.2,-44.9,-32.5,-47.8C-23.8,-50.6,-11.9,-45.8,-0.1,-45.6C11.6,-45.4,23.3,-49.9,30.4,-46.3Z"
    );
  }
}

@keyframes morph3 {
  0% {
    d: path(
      "M32.9,-55.1C43.4,-44.4,53.3,-36.6,61.5,-25.9C69.7,-15.2,76.4,-1.7,72.8,9.2C69.2,20,55.4,28,44.4,35.7C33.4,43.3,25.2,50.5,14,58.8C2.9,67.2,-11.2,76.7,-24.9,76.5C-38.6,76.3,-52,66.4,-56.2,53.3C-60.4,40.2,-55.4,23.7,-53.3,10.3C-51.2,-3.2,-52,-13.6,-51.1,-26.5C-50.2,-39.4,-47.6,-54.7,-38.8,-66.3C-30,-77.9,-15,-85.7,-1.9,-82.7C11.2,-79.7,22.3,-65.9,32.9,-55.1Z"
    );
  }
  25% {
    d: path(
      "M35.9,-50.6C42.7,-51.6,41.7,-35.1,50.2,-21.5C58.7,-7.9,76.6,2.9,82.2,16.6C87.7,30.4,80.8,47.2,69.1,58.9C57.4,70.6,41,77.2,27.5,70.7C14,64.1,3.4,44.3,-10.7,39C-24.8,33.7,-42.4,42.9,-55.4,40.8C-68.4,38.7,-76.8,25.5,-74.6,13.3C-72.4,1,-59.6,-10.2,-52,-22.5C-44.4,-34.7,-41.9,-48.1,-34.1,-46.6C-26.3,-45.2,-13.2,-28.9,0.7,-30C14.6,-31.1,29.2,-49.6,35.9,-50.6Z"
    );
  }
  50% {
    d: path(
      "M28.7,-50C34.9,-40.6,36.1,-28.8,37.1,-19.1C38.2,-9.4,39.1,-1.8,45.5,11.9C51.8,25.7,63.7,45.6,60.5,56.5C57.3,67.4,39.1,69.4,22.2,73.3C5.2,77.3,-10.5,83.2,-25.3,81.1C-40.1,79,-54.1,69,-61.3,55.8C-68.6,42.6,-69.2,26.3,-72.6,9.7C-76.1,-6.8,-82.4,-23.7,-77.7,-36.1C-72.9,-48.5,-57.1,-56.4,-42.3,-61.9C-27.5,-67.4,-13.8,-70.6,-1.3,-68.6C11.2,-66.6,22.4,-59.5,28.7,-50Z"
    );
  }
  75% {
    d: path(
      "M30.4,-46.3C37.5,-42.7,40,-31.1,37.7,-21.5C35.5,-12,28.3,-4.5,25.5,2.5C22.7,9.5,24.2,15.9,23.8,26C23.4,36.1,21.1,50,12.8,60C4.4,69.9,-9.9,76.1,-23.8,74.8C-37.7,73.5,-51.3,64.8,-60,53C-68.7,41.1,-72.6,26.1,-70.5,12.7C-68.4,-0.6,-60.4,-12.3,-53.5,-23.3C-46.7,-34.4,-41.2,-44.9,-32.5,-47.8C-23.8,-50.6,-11.9,-45.8,-0.1,-45.6C11.6,-45.4,23.3,-49.9,30.4,-46.3Z"
    );
  }
  100% {
    d: path(
      "M28.1,-43.7C36.8,-38,44.7,-31,46.1,-22.6C47.5,-14.2,42.5,-4.4,42.4,7.1C42.3,18.6,47.2,31.9,45.1,44.9C42.9,57.9,33.7,70.7,21.5,75.2C9.3,79.6,-5.9,75.6,-21.7,71.9C-37.6,68.2,-54.1,64.7,-57.3,53.7C-60.6,42.7,-50.7,24.3,-49,9.5C-47.4,-5.4,-54.1,-16.6,-51.4,-23.8C-48.6,-31,-36.3,-34.3,-26.2,-39.3C-16.1,-44.4,-8,-51.3,0.8,-52.6C9.7,-53.9,19.3,-49.5,28.1,-43.7Z"
    );
  }
}

@keyframes morph4 {
  0% {
    d: path(
      "M28.7,-50C34.9,-40.6,36.1,-28.8,37.1,-19.1C38.2,-9.4,39.1,-1.8,45.5,11.9C51.8,25.7,63.7,45.6,60.5,56.5C57.3,67.4,39.1,69.4,22.2,73.3C5.2,77.3,-10.5,83.2,-25.3,81.1C-40.1,79,-54.1,69,-61.3,55.8C-68.6,42.6,-69.2,26.3,-72.6,9.7C-76.1,-6.8,-82.4,-23.7,-77.7,-36.1C-72.9,-48.5,-57.1,-56.4,-42.3,-61.9C-27.5,-67.4,-13.8,-70.6,-1.3,-68.6C11.2,-66.6,22.4,-59.5,28.7,-50Z"
    );
  }
  25% {
    d: path(
      "M30.4,-46.3C37.5,-42.7,40,-31.1,37.7,-21.5C35.5,-12,28.3,-4.5,25.5,2.5C22.7,9.5,24.2,15.9,23.8,26C23.4,36.1,21.1,50,12.8,60C4.4,69.9,-9.9,76.1,-23.8,74.8C-37.7,73.5,-51.3,64.8,-60,53C-68.7,41.1,-72.6,26.1,-70.5,12.7C-68.4,-0.6,-60.4,-12.3,-53.5,-23.3C-46.7,-34.4,-41.2,-44.9,-32.5,-47.8C-23.8,-50.6,-11.9,-45.8,-0.1,-45.6C11.6,-45.4,23.3,-49.9,30.4,-46.3Z"
    );
  }
  50% {
    d: path(
      "M28.1,-43.7C36.8,-38,44.7,-31,46.1,-22.6C47.5,-14.2,42.5,-4.4,42.4,7.1C42.3,18.6,47.2,31.9,45.1,44.9C42.9,57.9,33.7,70.7,21.5,75.2C9.3,79.6,-5.9,75.6,-21.7,71.9C-37.6,68.2,-54.1,64.7,-57.3,53.7C-60.6,42.7,-50.7,24.3,-49,9.5C-47.4,-5.4,-54.1,-16.6,-51.4,-23.8C-48.6,-31,-36.3,-34.3,-26.2,-39.3C-16.1,-44.4,-8,-51.3,0.8,-52.6C9.7,-53.9,19.3,-49.5,28.1,-43.7Z"
    );
  }
  75% {
    d: path(
      "M35.9,-50.6C42.7,-51.6,41.7,-35.1,50.2,-21.5C58.7,-7.9,76.6,2.9,82.2,16.6C87.7,30.4,80.8,47.2,69.1,58.9C57.4,70.6,41,77.2,27.5,70.7C14,64.1,3.4,44.3,-10.7,39C-24.8,33.7,-42.4,42.9,-55.4,40.8C-68.4,38.7,-76.8,25.5,-74.6,13.3C-72.4,1,-59.6,-10.2,-52,-22.5C-44.4,-34.7,-41.9,-48.1,-34.1,-46.6C-26.3,-45.2,-13.2,-28.9,0.7,-30C14.6,-31.1,29.2,-49.6,35.9,-50.6Z"
    );
  }
  100% {
    d: path(
      "M32.9,-55.1C43.4,-44.4,53.3,-36.6,61.5,-25.9C69.7,-15.2,76.4,-1.7,72.8,9.2C69.2,20,55.4,28,44.4,35.7C33.4,43.3,25.2,50.5,14,58.8C2.9,67.2,-11.2,76.7,-24.9,76.5C-38.6,76.3,-52,66.4,-56.2,53.3C-60.4,40.2,-55.4,23.7,-53.3,10.3C-51.2,-3.2,-52,-13.6,-51.1,-26.5C-50.2,-39.4,-47.6,-54.7,-38.8,-66.3C-30,-77.9,-15,-85.7,-1.9,-82.7C11.2,-79.7,22.3,-65.9,32.9,-55.1Z"
    );
  }
}
